body {
    background-color: #DBD6CB;
    font-family: 'Varela', sans-serif;
}

table{ 
    padding: 4% 10%;
    font-size: 20px;
    border: 2px black solid;
    margin: 2%;
}
thead {
    background-color: #EBEBEB;
    text-decoration-line: underline;
    text-decoration-color: #1A2228;
    font-size: 24px;
    font-style: italic;
    color: #DB5353;
}

td {
    padding:20px;
}